---
import Base from "../layouts/Base.astro";
---

<Base>
    <section class="h-screen flex flex-col items-center justify-center">
        <h1 class="text-7xl font-serif font-bold tracking-tight">
            PLAYFAIR DISPLAY
        </h1>
        <p class="mt-8 text-2xl font-sans">
            This line is Inter. Compare the shapes—rounded vs high-contrast
            serifs.
        </p>
    </section>
</Base>
