---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Nicholas Park — Portfolio (WIP)</title>
  </head>

  <body class="bg-white text-black">
    <h1 class="text-4xl md:text-6xl font-bold text-center mt-20">
      Hello&nbsp;from&nbsp;Astro&nbsp;+&nbsp;Tailwind!
    </h1>
  </body>
</html>
